<h2 class="spaced">
  <a name="about" class="anchor" href="#designer-templates"><span class="octicon octicon-link"></span></a>
  About
</h2>
<p>
  We are an informal group that would like to create a venue for performing arts in Walthamstow. We miss a local space where groundbreaking artistic practice emerges and develops, and where practitioners and audiences can interact.
</p>
<p>
  With the Collective for Performing Arts we envision an informal space for testing new ideas and showcasing performing arts including music, theatre, spoken word, live art and more. We would like to see this space to be led by and for its users - artists and audiences alike.
</p>
<p>
  You have come across us right at the beginning. The envisioned venue doesn’t exist. It must be built.
</p>
<p>
  If you’re interested to contribute in any form, then join us for one of our next meeting - see details above. If you can’t make it, but would like to keep updated, subscribe below.
</p>
