<header>
  <nav>
    {% if page.title %}
      <a href="/">Home</a> >
      <a href="/events/">Events</a>
    {% else %}
      <a href="/">Home</a>
    {% endif %}
  </nav>

  {% if page.title %}
    <h2>Introducing the Walthamstow Performing Arts Collective</h2>
  {% else %}
    <h1>Introducing the Walthamstow Performing Arts Collective</h1>
  {% endif %}

  <p>
    {% if page.title %}
      <a href='/events' title='events'>View full programme.</a>
    {% else %}
      Bringing together visual art, theatre, performance art, dance, music, science, film, food, and a general sense of a community coming together to share across the spectrum and see what the future holds.
    {% endif %}
  </p>
  <p>
    <strong>38 Hoe Street</strong><br>
    Walthamstow, London E17 4PH
</p>
  <ul>
  <li><strong>General opening times</strong></li>
    <li>Thu, 4th - Sat 6th Dec 2014, 11am - 11pm</li>
    <li>Sun, 7th Dec 2014, 11am - 6pm</li>
    <li>Wed, 10th - Sat, 13th Dec 2014, 11am - 11pm</li>
    <li>Sun, 14 Dec 2014, 11am - 6pm</li>
  </ul>
</header>
