<header>
  <nav>
    {% if page.title %}
      <a href="/">Home</a> >
      <a href="/events/">Events</a>
    {% else %}
      <a href="/">Home</a>
    {% endif %}
  </nav>

  {% if page.title %}
    <h2>Introducing the Walthamstow Performing Arts Collective</h2>
  {% else %}
    <h1>Introducing the Walthamstow Performing Arts Collective</h1>
  {% endif %}

  <p>
    <strong>4 - 14 December 2014</strong>
  </p>
  <p>
    {% if page.title %}
      <a href='/events' title='events'>View full programme.</a>
    {% else %}
      Bringing together visual art, theatre, performance art, dance, music, science, film, food, and a general sense of a community coming together to share across the spectrum and see what the future holds.
    {% endif %}
  </p>
  <p>
    <strong>38 Hoe Street</strong><br>
    Walthamstow<br>
    London E17 4PH
  </p>
</header>
