<header>
  <nav id="events-header" class="horizontal">
  <ul>
    {% if page.title %}
      <li><a href="/">Home</a> &gt;</li>
      <li><a href="/events/">Events</a></li>
    {% else %}
      <li><a href="/">Home</a></li>
    {% endif %}
    </ul>
  </nav>

  {% if page.title %}
    <h2>Introducing the Walthamstow Performing Arts Collective</h2>
  {% else %}
    <h1>Introducing the Walthamstow Performing Arts Collective</h1>
  {% endif %}

  <p>
    {% if page.title %}
      <a class='strong' href='/events' title='events'>Live events and workshops</a>
    {% else %}
      Bringing together visual art, theatre, performance art, dance, music, science, film, food, and a general sense of a community coming together to share across the spectrum and see what the future holds.
    {% endif %}
   <br>
    <a class='strong' href='/arts/2014/12/04/visual-arts-and-films.html'>Visual arts exhibition</a>
   <br>
    <a class='strong' href='/arts/2014/12/03/nightly-films.html'>Nightly film programme</a>

  </p>

  <p>
    <strong><em>Venue update!</em></strong><br>
    Due to a collapsing shutter we had to relocate. Events from 11th to 14th Dec are held at:<br>
    <strong>Ye Olde Rose &amp; Crown</strong><br>
    55 Hoe St, Walthamstow London E17 4SA<br>
    <del>
      38 Hoe Street<br>
      Walthamstow, London E17 4PH
    </del>
  </p>
  <ul>
  <li><strong>General opening times</strong></li>
    <li>Thu, 4th - Sat 6th Dec 2014, 11am - 11pm</li>
    <li>Sun, 7th Dec 2014, 11am - 6pm</li>
    <li>Wed, 10th - Sat, 13th Dec 2014, 11am - 11pm</li>
    <li>Sun, 14 Dec 2014, 11am - 6pm</li>
  </ul>
</header>
