<h2 class="spaced">
  <a name="keep-updated" class="anchor" href="#designer-templates"><span class="octicon octicon-link"></span></a>
  Keep updated
</h2>

<p>
  Subscribe to our mailing list if you like to receive regular updates:
</p>
<form accept-charset="UTF-8" action="https://madmimi.com/signups/subscribe/107625" id="mad_mimi_signup_form" method="post" target="_blank" role="form">
  <div style="margin:0;padding:0;display:inline">
      <input name="utf8" type="hidden" value="✓"/>
      <input name="authenticity_token" type="hidden" value="AGNd+mlQNlH38qPWALjKVGbN7LY6r2bJSDLwl+vJ9AY="/>
  </div>
  <div class="mimi_field required">
      <label for="signup_email">Email*</label>
      <br>
      <input id="signup_email" name="signup[email]" type="text" data-required-field="This field is required" placeholder="you@example.com">
  </div>
  <div>
      <label for="signup_first_name">First Name</label>
      <br>
      <input id="signup_first_name" name="signup[first_name]" type="text" data-required-field="This field is required">
  </div>
  <div>
      <label for="signup_last_name">Last Name</label>
      <br>
      <input id="signup_last_name" name="signup[last_name]" type="text" data-required-field="This field is required">
  </div>
  <div>
      <input type="submit" class="submit btn" value="Subscribe" id="webform_submit_button" data-default-text="Subscribe" data-submitting-text="Sending…" data-invalid-text="↑ Required field invalid or missing" data-choose-list="↑ Choose a list">
  </div>
</form>
