nav#events-header {
  margin-bottom: 5px;
  margin-top: -26px;
}
nav.horizontal ul {
  padding-left: 0;
  overflow: hidden;
}
nav.horizontal ul li{
  display: inline;
  list-style-type: none;
}

nav.horizontal ul li.left {
  float: left;
}

nav.horizontal ul li.right {
  float: right;
}

nav#post-footer {
  margin-top: 20px;
}

.wrapper {
  overflow: hidden;
}
.home-banner {
  margin-bottom: 20px;
}

.events {
  .slideshow-events {
    margin-bottom: 20px;
  }
}
.events .post-list, header ul {
    margin-left: 0;
    list-style: none;
    padding-left: 0;
    h2, p {
      margin-bottom: 5px;
    }
}
.events .post-list li {
  margin-bottom: 15px;
}




.post {
  .page-image {
    margin-bottom: 20px;
  }
}
