nav {
  margin-bottom: 5px;
  margin-top: -26px;
}
.wrapper {
  overflow: hidden;
}

.events {
  .slideshow-events {
    margin-bottom: 20px;
  }
}
.events .post-list, header ul {
    margin-left: 0;
    list-style: none;
    padding-left: 0;
    h2, p {
      margin-bottom: 5px;
    }
}
.events .post-list li {
  margin-bottom: 15px;
}




.post {
  .page-image {
    margin-bottom: 20px;
  }
}
