---
layout: default
---
<div class="post">

  <div class="page-heading">

    {% if page.image %}
      <img class="page-image" src="/assets/{{ page.image }}" alt="{{ page.title }}: {{page.image-alt}}">
    {% endif %}

    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">
      {{ page.date | date: "%-d %b %Y, %H:%M" }}
      {% if page.end_date %}
        {{ page.end_date | date: " - %H:%M" }}
      {% endif %}
    </p>
  </div>

  <article class="post-content">
    {{ content }}
  </article>
  <nav class='horizontal' id='post-footer'>
    <ul>
      {% if page.previous and page.previous.categories contains 'event' %}
        <li class="left">
          <a href="{{ page.previous.url }}" title="{{page.previous.title}}">&lt; {{page.previous.title}}</a>
        </li>
      {% endif %}
      {% if page.next and page.next.categories contains 'event'%}
        <li class="right">
          <a href="{{ page.next.url }}" title="{{page.next.title}}">{{page.next.title}} &gt;</a>
        </li>
      {% endif %}
    </ul>
  </nav>
</div>
