---
layout: events
---

<div class="events">

  <div class="bss-slides slideshow-events">
    {% for post in site.posts %}
      {% if post.categories contains 'event' and post.image %}
        <figure>
          <img src="/assets/{{ post.image }}" alt="{{ post.title }}: {{post.image-alt}}" width="100%">
          <figcaption>
            <a class="post-link" href="{{ post.url }}">{{ post.title }} - {{ post.date | date: "%-d %b %Y" }}</a>
          </figcaption>
        </figure>
      {% endif %}
    {% endfor %}
  </div>

  <h2 class="page-heading">Events</h2>

  <ul class="post-list">
    {% for post in site.posts reversed %}
      {% if post.categories contains 'event' %}
        <li>
          <span class="post-meta">
            {{ post.date | date: "%-d %b %Y, %H:%M" }}
            {% if post.end_date %}
              {{ post.end_date | date: " - %H:%M" }}
            {% endif %}
          </span>

          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          <p>
            {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
            {% if post.ticketing %}
              <i>
                {{ post.ticketing | markdownify | remove: '<p>' | remove: '</p>' }}
              </i>
            {% endif %}
          </p>
        </li>
      {%endif%}
    {% endfor %}
  </ul>

  <!-- p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p-->

</div>
